<?xml version="1.0"?>
<model>
  <name>Pallet with ArUco Marker</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>IST</name>
    <email>user@example.com</email>
  </author>

  <description>
    A standard pallet with an ArUco marker 4x4 on top (1.0m x 1.0m).
    To use different ArUco markers, copy this model folder and replace the aruco_marker.png file.
  </description>
</model>
